.r {
    text-align: center;
    color: #6d6e6f;
}

body {
    background:#ffffff
}

.e {
    color: rgb(0, 0, 0);
}


.t {
    text-align: center;
}

.t a {
    text-decoration: none;
    color: rgb(168, 166, 166);
}